[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "==2.8.5"
django-heroku = "*"
gunicorn = "*"
django-tinymce = "*"
readtime = "*"
numpy = "*"
Django = "*"
Pillow = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.7"
