<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internal Server Error</title>
</head>

<body>
    <section class="error-section">
        <br><br>
        <div class="container">
            <div class="error-content">
                <div class="error-text">
                    <h2>Internal server Error</h2>
                    <p>Something went wrong while processing your request</p>
                    <a href="{% url 'app:index' %}" class="btn btn-solid">Reload </a>
                </div>
            </div>

        </div>
    </section>
</body>

</html>