{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'assets/images/favicon.png' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600&amp;display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />

    <!-- Fontawesome CSS-->
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}" />

    <!-- slick css -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />



    <title>Articles - {% block title %}How to Tango with Django!{% endblock %}</title>
</head>

<body>
    <div class="preloader-wrapper">
        <div class="preloader">
            <div class="preloader-circle" id="status">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <main class="kavya-home-2">
        <!-- Header -->
        <header>
            <!-- Navbar -->
            <nav>
                <div class=" kavya-navbar-2 kavya-navbar" id="sticky-top">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col order-2 col-lg-2 ">
                                <div class="brand-name">
                                    <a href="{% url 'app:index' %}">
                                        <h1>Devjey</h1>
                                    </a>
                                </div>
                            </div>
                            <div class="col col-lg-8 order-1 order-lg-2">
                                <span class="navbar-toggle" id="navbar-toggle">
                                    <i class="fas fa-bars"></i>
                                </span>
                                <ul class="nav-menu ml-auto mr-auto" id="nav-menu-toggle">
                                    <li class="nav-item"><a class="nav-link">Categories <span class="arrow-icon">
                                                <span class="left-bar"></span>
                                                <span class="right-bar"></span></span>
                                        </a>
                                        <ul class="drop-menu">
                                            {% for category in categories %}
                                            <li class="drop-menu-item"><a
                                                    href="{% url 'app:category' category.id %}">{{category}}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-lg-2 order-3">
                                <div class="search-wrapper">
                                    <div class="search-icon">
                                        <button class="open-search-btn"><i class="fa fa-search"></i></button>
                                    </div>
                                    <div class="sidebar-icon">
                                        <button class="sidebar-btn"> <i class="fas fa-ellipsis-v"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar end -->

            <!-- Search overlay -->
            <div id="search-overlay" class="search-section">
                <span class="closebtn"><i class="fas fa-times"></i></span>
                <div class="overlay-content">
                    <form>
                        <input type="text" placeholder="Search here" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <!-- Search overlay end -->

            <!-- Sticky sidebar -->
            <div class="sticky-sidebar">
                <div class="sticky-sidebar-content">
                    <div class="close-sidebar ml-auto" style="position: sticky; top:0; background: #f4976c; border-radius: 50%">
                        <i class="fas fa-times" style="color: #fff"></i>
                    </div>
                    <h3>About the Author</h3>

                    <div class="author-img">
                        <img src="{{user.image}}" alt="">
                    </div>
                    <div class="author-desc">
                        <h5 class="mb-2">{{user.username}}</h5>
                        <p>{{user.bio}}</p>
                    </div>
                    <div class="circular-icons social-links">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>

                    <div class="author-posts">
                        <h3>Most Read</h3>
                        {% for article in featured_articles %}
                        <div class="card mb-4">
                            <div class="row no-gutters">
                                <div class="col-4 col-md-4">
                                    <a href="single-no-sidebar.html">
                                        <img src="{{article.image}}" class="card-img" alt="">
                                    </a>
                                </div>
                                <div class="col-8 col-md-8">
                                    <div class="card-body">
                                        <ul class="category-tag-list">

                                            <li class="category-tag-name">
                                                <a href="#">{{article.category}}</a>
                                            </li>
                                        </ul>
                                        <h5 class="card-title title-font"><a
                                                href="single-no-sidebar.html">{{article.title}}</a>
                                        </h5>
                                        <div class="author-date">

                                            <a class="date" href="#">
                                                <span>{{article.created_at}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Sticky sidebar end -->

            <div class="body-overlay"></div>
        </header>
        <!-- Header end -->

        {% block body_block %}No articles{% endblock %}


        <!-- Footer section -->
        <footer class="footer-section">
            <div class="container">
                <div class="footer-content-2">
                    <div class="footer-logo">
                        <a href="index.html">
                            <h5 class="brand-name">Devjey</h5>
                        </a>
                    </div>
                    <div class="footer-links">
                        <ul>
                            {% for category in categories %}
                            <li><a href="{% url 'app:category' category.id %}">{{category}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="circular-icons social-links">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-copyright">
                        <p>&copy;<span id="year"></span> All rights reserved. <a href="#">Devjey</a> </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer section end -->
    </main>
    <!-- Scroll to top -->
    <div id="stop" class="scroll-to-top">
        <span><a href="#"><i class="fas fa-arrow-up"></i></a></span>
    </div>
    <!-- Scroll to top end -->


    <script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'assets/js/ResizeSensor.min.js' %}"></script>
    <script src="{% static 'assets/js/theia-sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>