{% extends 'blog/base.html' %}
{% block title %}CSS Tutorials{% endblock %}

{% block body_block %}

    <!-- Banner section -->
    <section class="banner-section">
        <div class="container">
            <div class="banner-carousel">
                {% for article in cover_articles %}
                <div class="banner-item">
                    <div class="card">
                        <a href=""><img src="{{article.cloudinary_image}}" class="card-img" alt="" /></a>
                        <div class="card-img-overlay banner-text">
                            <ul class="category-tag-list">
                                <li class="category-tag-name">
                                    <a href="">{{article.category}}</a>
                                </li>
                            </ul>
                            <h5 class="card-title title-font">
                                <a href="{% url 'app:article' article.slug %}">{{article.title}}</a>
                            </h5>
                            <p class="card-text mb-3">
                                {{article.body}}
                            </p>
                            <a href="{% url 'app:article' article.slug %}" class="btn btn-solid btn-read">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Banner section end -->

    <!-- Featured posts -->
    <section class="featured-posts">
        <div class="container">
            <div class="section-title">
                <h2>Featured posts</h2>
            </div>
            <div class="row">

                {% for article in featured_articles %}
                <div class="col-md-6">
                    <div class="card simple-overlay-card">
                        <a href="{% url 'app:article' article.slug %}"><img src="{{article.cloudinary_image}}" class="card-img" alt="" /></a>
                        <div class="card-img-overlay">
                            <ul class="category-tag-list">
                                <li class="category-tag-name">
                                    <a href="{% url 'app:article' article.category.id %}">{{article.category}}</a>
                                </li>
                            </ul>
                            <h5 class="card-title title-font">
                                <a href="{% url 'app:article' article.slug %}">{{article.title}}</a>
                            </h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Features posts end -->

    <!-- Popular posts -->
    <section class="popular-posts section-padding">
        <div class="container">
            <div class="section-title">
                <h2>Popular Posts</h2>
            </div>
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="row">
                        {% for article in popular_articles %}
                        <div class="col-md-6">
                            <div class="card">
                                <a href="{% url 'app:article' article.slug %}">
                                    <img src="{{article.cloudinary_image}}" class="card-img-top" alt="" />
                                </a>

                                <div class="card-body px-0">
                                    <ul class="category-tag-list">
                                        <li class="category-tag-name">
                                            <a href="{% url 'app:article' article.category.id %}">{{article.category}}</a>
                                        </li>
                                    </ul>
                                    <h5 class="card-title title-font">
                                        <a href="{% url 'app:article' article.slug %}">
                                            {{article.title}}
                                        </a>
                                    </h5>
                                    <div class="author-date">
                                        <a class="author" href="#">
                                            <img src="{{article.author.cloudinary_image}}" alt="" class="rounded-circle" />
                                            <span class="writer-name-small">{{article.author.username}}</span>
                                        </a>
                                        <a class="date" href="#">
                                            <span>{{article.created_at}}</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="sidebar-posts">
                        <div class="sidebar-title">
                            <h5><i class="fas fa-circle"></i> Recent Posts</h5>
                        </div>
                        <div class="sidebar-content author-posts">
                            {% for article in recent_articles %}
                            <div class="card mb-3">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-4 col-md-4">
                                        <a href="{% url 'app:article' article.slug %}">
                                            <img src="{{article.cloudinary_image}}" class="card-img" alt="">
                                        </a>
                                    </div>
                                    <div class="col-8 col-md-8">
                                        <div class="card-body">
                                            <ul class="category-tag-list mb-0">
                                                <li class="category-tag-name">
                                                    <a href="{% url 'app:article' article.category.id %}">{{article.category}}</a>
                                                </li>
                                            </ul>
                                            <h5 class="card-title title-font"><a
                                                    href="{% url 'app:article' article.slug %}">{{article.title}}</a>
                                            </h5>
                                            <div class="author-date">
                                                <a class="date" href="#">
                                                    <span>{{article.created_at}}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="popular-tags">
                            <div class="sidebar-title">
                                <h5><i class="fas fa-circle"></i>Categories</h5>
                            </div>
                            <div class="sidebar-content">
                                <ul class="sidebar-list tags-list">
                                    {% for category in categories %}
                                    <li><a href="{% url 'app:category' category.id %}">{{category}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Popular posts end -->

    <!-- Dev-Jey Posts -->
    <section class="kavya-posts">
        <div class="container">
            <div class="section-title">
                <h2>More from Dev Jey</h2>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="posts-wrapper">
                        <div class="card mb-4 long-card">
                            <div class="row no-gutters align-items-center">
                                <div class="col-lg-6">
                                    <a href="{% url 'app:article' latest_article.slug %}">
                                        <img src="{{latest_article.cloudinary_image}}" class="card-img" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-body">
                                        <ul class="category-tag-list">
                                            <li class="category-tag-name">
                                                <a href="{% url 'app:article' latest_article.category.id %}">Lifestyle</a>
                                            </li>
                                        </ul>
                                        <h5 class="card-title title-font"><a href="{% url 'app:article' latest_article.slug %}">
                                                {{latest_article.title}}
                                            </a>
                                        </h5>
                                        <p class="card-text">{{latest_article.body}}</p>
                                        <a href="{% url 'app:article' latest_article.slug %}" class="btn btn-solid btn-read my-3">Read
                                            More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="more-posts">
                <div class="row">
                    {% for article in other_articles %}
                    <div class="col-md-6 col-lg-3">
                        <div class="card small-card simple-overlay-card">
                            <a href="{% url 'app:article' article.slug %}"><img src="{{article.cloudinary_image}}" class="card-img" alt=""
                                    style="object-fit: cover;height: 290px" /></a>
                            <div class="card-img-overlay">
                                <ul class="category-tag-list mb-0">
                                    <li class="category-tag-name">
                                        <a href="{% url 'app:category' article.category.id %}">{{article.category}}</a>
                                    </li>
                                </ul>
                                <h5 class="card-title title-font">
                                    <a href="{% url 'app:article' article.slug %}">{{article.title}}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Kavya Posts end -->

{% endblock %}